*{
	margin:0;
	padding:0;
}

#header{
	text-align: center;
}

h1{
	text-align: center;
	font-weight: bold;
	font-size:50px;
	color:blue;
	letter-spacing:2px;
	text-shadow:4px 4px 4px #aaa;
	font-family: 'Ubuntu', sans-serif, 'Roboto Mono', monospace, 'Open Sans', sans-serif;
}

h2{
	font-size:35px;
	margin-top:15px;
	text-shadow:4px 4px 4px #aaa;
	font-family: 'Ubuntu', sans-serif, 'Roboto Mono', monospace, 'Open Sans', sans-serif;
}

#colors1{
	width:100%;
	float:left;
	margin-top:20px;
}

.colors{
	width:100px;
	height:100px;
	margin-top:25px;
	margin-left:100px;
	border-radius: 50px;
}

.hover:hover{
	width:120px;
	height:120px;
	border-radius:60px;
}

#red{
	background-color: red;
	position: relative;
	float:left;
	margin-left:320px;
}

#blue{
	background-color: blue;
	float:left;
}

#purple{
	background-color: purple;
	float:left;
}

#yellow{
	background-color: yellow;
	float:left;
}

#mid{
	text-align: center;
	margin-top:180px;
	height:100px;
	font-size: 20px;
	font-weight: bold;
}

#table{
	margin-top:0px;
	height:1000px;
}

table{
	width: 900px;
	height:500px;
	background-color: rgb(87, 87, 214); 
	margin:0 auto;
	border-spacing: 15px;
	position: relative;
	top: 100px;
	border:5px solid black;
}

tr{
	height:90px;
	width: 90%;
	background-color: white;
}

td{
	width: 5%;
	height: 50px;
	background-color: white;
	border-radius: 90px;
}

.redHover:hover{
	background-color:rgb(168, 38, 38);
}

.blueHover:hover{
	background-color: rgb(80, 80, 187);
}

.yellowHover:hover{
	background-color: rgb(230, 230, 89);
}

.purpleHover:hover{
	background-color: rgb(196, 88, 196);
}

.redActive{
	background-color: red;
}

#resetGame{
	margin: 0 auto;
	margin-top:20px;
	font-size:20px;
	height:50px;
	width: 150px;
	border-radius:75px;
	color:white;
	background-color:black;
	border:none;
}



